
.wrapper {
    width: 70%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #C5CAE9;
}

ul {
    list-style: none;
}
td{
    padding: 5px 15px;
    vertical-align: top;
    margin: 0px;  
    background-color: #3F51B5;
    color: white;
    opacity: .6;
}

thead td{
    background-color: #01579B;
    text-align: center;
    text-decoration: bold;
}

.skillz td{
    width: 33%; 
}

.avaskl td{
    width: 50%;
}

.avaskl {
    margin: 0 auto;
}

.tpo td{
    padding: 0px;
}

.tpo, .skillz, .avaskl, .wht {
    background-color:  #3F51B5;
}

.wht, .tpo, table{
    padding: 5px;
    border-radius: 5px;
}

.headers td{
    background-color: #311B92;
    color:white;
    padding: 10px;
}

.topic {
    background-color: #311B92; 
}

.txt {
    color:white;
}

.hs {
    text-align: center;
    color: snow;
    text-decoration-style:solid;
    padding: 10px;
    background-color: #311B92;
    width: 30%;
    display: flex;
    border-radius: 10px;
    
}